<div class="bg-gray-50 cs-font">
  <div id="wrapper" class="grid grid-cols-1 xl:grid-cols-2 xl:h-screen">
      <div id="col-1" class="bg-blue-900 px-12 pt-32 pb-40 md:px-32 xl:py-64 xl:px-32 left">
          <h1 class="text-white font-extrabold text-4xl md:text-6xl">The <br>
              Moodtail <br>
              Experience</h1>
          <p class="text-white text-normal md:text-3xl pt-3 md:pt-6 font-medium">Enhance your experience.</p>
      </div>
      <div id="col-2" class="px-3 md:px-20 xl:py-64 xl:px-12">

          <div id="cards" class="rounded-lg flex border py-5 px-6 md:py-8 md:px-16 -mt-6 bg-white xl:-ml-24 xl:pl-8 xl:rounded-xl">
              <div id="circle" class="w-8 h-8 bg-blue-500 md:w-16 md:h-16 rounded-full"></div>
              <p class="pl-4 md:pl-12 text-base pt-1 font-semibold md:text-2xl md:pt-4">“New Sensory Experience!”</p>
          </div>

          <div id="cards" class="rounded-lg flex border py-5 px-6 md:py-8 md:px-16 mt-6 md:mt-12 bg-white xl:pl-8 xl:rounded-xl">
              <div id="circle" class="w-8 h-8 bg-blue-500 md:w-16 md:h-16 rounded-full"></div>
              <p class="pl-4 md:pl-12 text-base pt-1 font-semibold md:text-2xl md:pt-4">
                Go to 
                <a routerLink="/experience" class="text-blue hover:text-blue-300 underline ">Experience</a>
              </p>
          </div>

      </div>
  </div>
</div>